* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fcd7c3;
}

.wrapper {
    position: relative;
    width:100%;
    max-width: 800px;
    text-align: center;
}

h2 {
    font-size: 2em;
    color: #a1e9ed;
    margin: 15px 0;
    font-family: "Roboto Serif", serif;
    text-shadow: 
    1px 1px 0 #5798c3, 
    -1px 1px 0 #5798c3, 
    1px -1px 0 #5798c3, 
    -1px -1px 0 #5798c3,
    2px 2px 0 #5798c3, 
    -2px 2px 0 #5798c3, 
    2px -2px 0 #5798c3, 
    -2px -2px 0 #5798c3;
   
}

.gif {
    width: 100%;
    max-width: 550px;
    border: 5px solid #f7d178; 
    border-radius: 15px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.btn-group {
    margin-top: 20px;
    position: relative;
    height: 40px;
}

button {
    width: 150px;
    height: 50px;
    color: #d5f6e4;
    font-family: "Roboto Serif", serif;
    font-size: 1.2em;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 3px solid #5798c3;
}

button.yes-btn {
    background: #d5f6e4;
    color: #5798c3;
    position: absolute;
    right: 50%;
    font-weight: 700;
}

button.no-btn {
    background: #d5f6e4;
    color:  #5798c3;
    position: absolute;
    left: 65%;
    transform: translateX(-50%);
    font-weight: 700;
}
